@model IRDB.Models.RatingView

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Rating", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>RatingView</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <!--Id-->
    @Html.HiddenFor(model => model.Id)
    <!--Restaurant_Id-->
    @Html.HiddenFor(model => model.Restaurant_Id)
    @*@Model.Restaurant_Id = (Restaurant)Session["CurrentRestaurant"].Id*@
    
    
    <!---->


    @*<div class="form-group">
            @Html.LabelFor(model => model.Restaurant_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Restaurant_Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Restaurant_Id, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class="form-group">
            @Html.LabelFor(model => model.Rating_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rating_Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rating_Date, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.Rater_Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Rater_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Rater_Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.Rating_Value, htmlAttributes: new { @class = "control-label col-md-2" })*@
        Évaluation:
        @Helper.RatingBar("Rating_Value", 0, true)
        <div class="col-md-10">
                @Html.EditorFor(model => model.Rating_Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rating_Value, "", new { @class = "text-danger" })
            </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Enregistrer" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
    @Helper.IconAction(Url, "Index", "Back", "Retour au Restaurant")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
