@*Ced 12 avril*@
@model IRDB.Models.RatingView

@*@{
        ViewBag.Title = "Create";
    }*@


@Html.HiddenFor(model => model.Id)


<!--En-tete Detail du restaurant-->
<!---->
<br />
<table style="font-size:larger">
    <tr>
        <td rowspan="6" style="padding-right:6px;">
            <a href="@ViewBag.RestaurantViews.Website" target="_blank" data-toggle="tooltip" title="@ViewBag.RestaurantViews.Website">
                <img src="@Url.Content(ViewBag.RestaurantViews.GetLogoURL())" class="MediumPhoto" />
            </a>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        <!--Name-->
                        <span style="font-size:x-large; font-weight:700">@ViewBag.RestaurantViews.Name</span>
                    </td>
                    <td>
                        <!--Rating-->
                        @Helper.RatingBar("Rating", ViewBag.RestaurantViews.Rating, true)
                    </td>
                    <td>
                        <!--NbRating-->
                        <span style="font-size:large;">(@ViewBag.RestaurantViews.NbRatings)</span>
                    </td>
                </tr>
            </table>
        </td>
        <td rowspan="6">
            <!--Image BYOW-->
            @if (ViewBag.RestaurantViews.BYOW)
            {
                <img src="~/Content/UI_Images/Image_BYOW.png" class="MediumPhoto" />
            }
        </td>
    </tr>
    <tr>
        <td>
            <!--Adress-->
            <a href="https://www.google.ca/maps/place/ @ViewBag.RestaurantViews.Address" target="_blank">
                @ViewBag.RestaurantViews.Address
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <!--Phone-->
            @ViewBag.RestaurantViews.Phone
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>Cuisine:</td>
                    <!--Cuisine-->
                    <td>@ViewBag.RestaurantViews.Cuisine</td>
                    <td>&nbsp;&nbsp;</td>
                    <!--PriceRating-->
                    <td>
                        <b style="color:goldenrod">
                            @Html.DisplayFor(modelItem => ((IRDB.Models.Restaurant)Session["CurrentRestaurant"]).PriceRange.Name)
                        </b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!--<tr>
        <td></td>
    </tr>-->
</table>


<br />
<br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>RatingView</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <!--Restaurant_Id-->
        @Html.HiddenFor(model => model.Restaurant_Id)
        @*@Model.Restaurant_Id = (Restaurant)Session["CurrentRestaurant"].Id*@


        <!---->


        <div class="form-group">
            @Html.LabelFor(model => model.Rater_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rater_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rater_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            Évaluation:

            @Html.LabelFor(model => model.Rating_Value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Helper.RatingBar("Rating_Value", Model.Rating_Value, false)
                @Html.ValidationMessageFor(model => model.Rating_Value, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Helper.IconAction(Url, "Index", "Back", "Retour au Restaurant")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
