@model IRDB.Models.RestaurantView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<!--En-tete Detail du restaurant-->
<!---->
<table style="font-size:larger">
    <tr>
        <td rowspan="6" style="padding-right:6px;">
            <a href="@ViewBag.WebSite" target="_blank" data-toggle="tooltip" title="@ViewBag.WebSite">
                <img src="/IRDB/RestaurantLogos/@ViewBag.Logo_id" class="MediumPhoto" />
            </a>
        </td>
        <td>
            <table>
                <tr>
                    <td><span style="font-size:x-large; font-weight:700"><!--Name-->Arousse</span></td>
                    <td>
                        <!--Rating-->
                        <input name="Rating" id="Rating" value=3 class="RatingBar" disabled style="width:0px;display:none" />
                    </td>
                    <td><span style="font-size:large;"><!--NbRating-->(6)</span></td>
                </tr>
            </table>
        </td>
        <td rowspan="6">
            <!--Image BYOW-->
            <img src="/IRDB/Content/UI_Images/Image_BYOW.png" class="MediumPhoto" />
        </td>
    </tr>
    <tr>
        <td>
            <!--Adress-->
            <a href="https://www.google.ca/maps/place/ @ViewBag.Restaurant.Address" target="_blank">
                @ViewBag.Restaurant.Address
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <!--Phone-->
            @ViewBag.Restaurant.Phone
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>Cuisine: </td>
                    <!--Cuisine-->  
                    <td>libanaise &nbsp;&nbsp;</td>
                    <!--PriceRating-->
                    <td><b style="color:goldenrod">$ $</b></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>
<!---->


<div>
    <h4>RestaurantView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuisine_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuisine_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceRange_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceRange_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BYOW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BYOW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logo_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuisine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuisine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbRatings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbRatings)
        </dd>

    </dl>
</div>



