@model IRDB.Models.RestaurantView

@{
    ViewBag.Title = "Edit";
}

<h2>Modification</h2>


@using (Html.BeginForm("Edit", "Restaurants", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Rating)
    @Html.HiddenFor(model => model.NbRatings)
    @Html.HiddenFor(model => model.Logo_Id)

        <!--Nom du Restaurant-->
        <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--Adresse Postal-->
        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--Code Postal-->
        <div class="form-group">
            @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control zipcode" } })
                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--Numéro de Téléphone-->
        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control phone" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--Site Web-->
        <div class="form-group">
            @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--Type de Cuisine-->
        <div class="form-group">
            @Html.LabelFor(model => model.Cuisine_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!--Selectionné par un ComboxBox-->
                @Helper.ComboBox(ViewBag.Cuisines, "Cuisine_Id", Model.Cuisine_Id)
                @Html.ValidationMessageFor(model => model.Cuisine_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--Type de Budget-->
        <div class="form-group">
            @Html.LabelFor(model => model.PriceRange_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!--Selectionné par un ComboxBox-->
                @Helper.ComboBox(ViewBag.PriceRanges, "PriceRange_Id", Model.PriceRange_Id)
                @Html.ValidationMessageFor(model => model.PriceRange_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--Apporté son Vin (bool)-->
        <div class="form-group">
            @Html.LabelFor(model => model.BYOW, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.BYOW)
                    @Html.ValidationMessageFor(model => model.BYOW, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <!--Selection de l'imgage-->
        <div class="form-group">
            @Html.LabelFor(model => model.Logo_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Helper.ImageUpLoader(Url, Model.GetLogoURL(), "Cliquez pour choisir la photo...", "max-width:280px;")
            </div>
        </div>
        <!--Button Enregistrer-->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<!--Button Retour-->
<div>
    @Helper.IconAction(Url, "Index", "Back", "Retour a la liste des restaurants")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}