@model IEnumerable<IRDB.Models.RestaurantView>

@{
    ViewBag.Title = "Index";
}

<h2>Répertoire des restaurants</h2>

<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>-->
<table class="table">
    <!-- En-tête de la List -->
    <tr>
        <th class="col-md-1">
            <!--@Html.DisplayNameFor(model => model.Logo_Id)-->Logo
        </th>
        <th class="col-md-3 sorted_header">
            @Helper.SortAction(Url, "Sort", Html.DisplayNameFor(model => model.Name).ToString(), "Restaurant", "Name")
        </th>
        <th class="col-md-2 sorted_header">
            @Helper.SortAction(Url, "Sort", Html.DisplayNameFor(model => model.Cuisine).ToString(), "Restaurant", "Cuisine")
        </th>
        <th class="col-md-2 sorted_header">
           @Helper.SortAction(Url, "Sort", Html.DisplayNameFor(model => model.PriceRange).ToString(), "Restaurant", "Budget")
        </th>
        <th class="col-md-2 sorted_header">
            @Helper.SortAction(Url, "Sort", Html.DisplayNameFor(model => model.BYOW).ToString(), "Restaurant", "Apporter son Vin")
        </th>
        <th class="col-md-2 sorted_header">
            @Helper.SortAction(Url, "Sort", Html.DisplayNameFor(model => model.Rating).ToString(), "Restaurant", "Evaluation")
        </th>
        <!--FB pour ajouter un restaurant-->
        <th style="width:80px"> @Helper.IconAction(Url, "Create", "Add", "Ajouter un Restaurant")</th>
    </tr>

@foreach (var item in Model) {
    <tr class="data_row">
        <!--enligne la photo au milieu-->
        <td style="text-align:center">
            <!--l'image de ce resto, de la class smallphoto  App_Styles.css-->
            <img src="@Url.Content(item.GetLogoURL())" class="SmallPhoto"/>
        </td>
                        
        <td>
            <!--Hyper liens vers le site web de ce resto-->
            <a href="@item.Website">
                <b>@Html.DisplayFor(modelItem => item.Name)</b>
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuisine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceRange)
        </td>
        <td>
            <!--@Html.DisplayFor(modelItem => item.BYOW)-->
            <!--Si il il faut BYOW-->
            @if (item.BYOW)
            {
                <!--Afficher l'image-->
                <img src="~/Content/UI_Images/Image_BYOW.png" class="SmallPhoto"/>
            }
        </td>
        <td>
            <!--Fct pour le bon nombre d'étoile, switch?-->
            @switch (Math.Round(item.Rating)/*deja calculé*/)/*Arrondire au plus haut??*/
            {
                case 1:
                    <img class="star"/>
                    break;
                case 2:
                    <img class="star" />
                    <img class="star" />
                    break;
                case 3:
                    <img class="star" />
                    <img class="star" />
                    <img class="star" />
                    <img class="star" />
                    break;
                case 4:
                    <img class="star" />
                    <img class="star" />
                    <img class="star" />
                    <img class="star" />
                    break;
                case 5:
                    <img class="star" />
                    <img class="star" />
                    <img class="star" />
                    <img class="star" />
                    <img class="star" />
                    break;
            }
            <!--le nombre de Rating entre paranthèse-->
            (@item.Rating)
        </td>

        <!--Boutton CRUD pour chaque Resto-->
        <td style="width:80px">
            @Helper.IconAction(Url, "Edit/" + item.Id.ToString(), "Edit", "Modifier " + item.Name)
            @Helper.IconAction(Url, "Detail/"+item.Id.ToString(),"Details", "Voir les détails du restaurant", item.Name)
            @Helper.IconConfirmedAction(Url, "Delete/" + item.Id.ToString(), "Delete", "Effacer " + item.Name)
        </td>
    </tr>
}

</table>

<script>

</script>

