@model IEnumerable<IRDB.Models.RestaurantView>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Répertoire des restaurants</h2>

<table class="table">
    <!-- En-tête de la List -->
    <tr>
        <th class="col-md-1">
            Logo
        </th>
        <th class="col-md-3 sorted_header">
            @Helper.SortAction(Url, "Sort", Html.DisplayNameFor(model => model.Name).ToString(), "RestaurantView", "Name")
        </th>
        <th class="col-md-2 sorted_header">
            @Helper.SortAction(Url, "Sort", Html.DisplayNameFor(model => model.Cuisine).ToString(), "Restaurants", "Cuisine")
        </th>
        <th class="col-md-2 sorted_header">
            @Helper.SortAction(Url, "Sort", @*Html.DisplayNameFor(model => model.PriceRange).ToString()*@ "Budget", "Restaurants", "PriceRange")
        </th>
        <th class="col-md-2 sorted_header">
            @Helper.SortAction(Url, "Sort", Html.DisplayNameFor(model => model.BYOW).ToString(), "Restaurants", "BYOW")
        </th>
        <th class="col-md-2 sorted_header">
            @Helper.SortAction(Url, "Sort", Html.DisplayNameFor(model => model.Rating).ToString(), "Restaurants", "Rating")
        </th>
        <!--FB pour ajouter un restaurant-->
        <th style="min-width:40px"> @Helper.IconAction(Url, "Create", "Add", "Ajouter un Restaurant")</th>
        <th style="min-width:40px"></th>
        <th style="min-width:40px"></th>
    </tr>

@foreach (var item in Model) {
    <tr class="data_row">
        <!--enligne la photo au milieu-->
        <td style="text-align:center">
            <!--l'image de ce resto, de la class smallphoto  App_Styles.css-->
            <img src="@Url.Content(item.GetLogoURL())" class="SmallPhoto"/>
        </td>
        <td>
            <!--Hyper liens vers le site web de ce resto-->
            <a href="@item.Website">
                <b>@Html.DisplayFor(modelItem => item.Name)</b>
            </a>
        </td>
        <!--Le nom de Cuisine-->
        <td>
            @Html.DisplayFor(modelItem => item.Cuisine)
        </td>
        <!--Budget, nb de * selon le PriceRange-->
        <td style="color:goldenrod">
            @Html.DisplayFor(modelItem => item.PriceRange)
        </td>
        <td>
            <!--Si il il faut BYOW-->
            @if (item.BYOW)
            {
                <!--Afficher l'image-->
                <img src="~/Content/UI_Images/Image_BYOW.png" class="SmallPhoto"/>
            }
        </td>
        <td>

            @Helper.RatingBar("Rating", item.Rating, true)
            <!--le nombre de Rating entre paranthèse-->
            (@item.NbRatings)
        </td>

        <!--Boutton CRUD pour chaque Resto-->
        <td style="width:80px">
            @Helper.IconAction(Url, "Edit/" + item.Id.ToString(), "Edit", "Modifier " + item.Name)
        </td>
        <td style="width:80px">
            @Helper.IconAction(Url, "Details/" + item.Id.ToString(), "Details", "Voir les détails du restaurant", item.Name)
        </td>
        <td style="width:80px">
            @Helper.IconConfirmedAction(Url, "Delete/" + item.Id.ToString(), "Delete", "Effacer " + item.Name)
        </td>

    </tr>
}
</table>


